@inject NotificationService NotificationService


<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="1rem" Wrap="FlexWrap.Wrap">
 <a class= "btn btn-success"  href="NuevoCliente">Nuevo Cliente</a>
</RadzenStack>

@code {

}
